@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.market {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.discovery-section {
    width: 64%;
    color: #FFFFFF;
}

.border-dis {
    width: 48vw;
    padding: 20px;
    /* position: absolute; */
    background: linear-gradient(281.71deg, #21358B 12.57%, #302B76 44.74%, #602083 75.39%, #881C8A 101.64%, rgba(255, 0, 184, 0.44) 107.34%);
    border: 1px solid linear-gradient(281.71deg, #21358B 12.57%, #302B76 44.74%, #602083 75.39%, #881C8A 101.64%, rgba(255, 0, 184, 0.44) 107.34%);
    border-radius: 12px;
    padding-left: 40px;
    margin-top: 25px;
}

.dis-text {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 10px;
}

.dis-img1 {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 60%;
    /* height: 20%; */
}

.dis-img1 img {
    width: 100%;
}

.dis-img2 {
    position: absolute;
    top: -25px;
    left: 580px;
    width: 25%;
    /* height: 20%; */
}

.dis-img2 img {
    width: 100%;
}

.button-1 {
    background: linear-gradient(259.75deg, #DA08EC 16.07%, rgba(240, 14, 193, 0.95) 73.5%);
    border-radius: 6px;
    border: 0.5px solid #DA08EC;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    /* height: 40px; */
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
}

.button-1:hover,
.button-1:focus {
    background: #DA08EC;
}

.button-2 {
    background: transparent;
    border-radius: 6px;
    border: 0.5px solid #c996e2;
    color: #FAFAFA;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    /* height: 40px; */
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
    margin-left: 10px;
}

.button-2:hover,
.button-2:focus {
    background: linear-gradient(281.71deg, #21358B 12.57%, #302B76 44.74%, #602083 75.39%, #881C8A 101.64%, rgba(255, 0, 184, 0.44) 107.34%);
}

.HotArt {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.Hot-bid {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 550;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.Art-All ul {
    display: flex;
    list-style: none;
    margin-right: 25px;
    cursor: pointer;
}

.Art-All li {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 350;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 18px;
}

.Art-All li:hover {
    border-bottom: 2px solid #F61872;
    transform: translatey(-2px);
    transition: all 0.2s;

}

.Art-All li:active {
    border-bottom: 2px solid #F61872;
    color: #F61872;
}

.brents {
    background: #2E3670;
    border: #09114E;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.paint-section {
    width: 34%;
    /* height: 100vh; */
    padding-top: 10px;
    background: #22295A;
    opacity: 0.4;
    border-radius: 22px;
    margin-top: 20px;
}

.border-pa {
    width: 25vw;
    height: 15vw;
    padding: 20px;
    margin-left: 14px;
    background: #321742;
    border: 1px solid linear-gradient(281.71deg, #21358B 12.57%, #302B76 44.74%, #602083 75.39%, #881C8A 101.64%, rgba(255, 0, 184, 0.44) 107.34%);
    border-radius: 12px;
    background-image: url('../assets/image/paint.svg');
    background-repeat: no-repeat;
}

@media (max-width: 1507px) {
    .market {
        margin-right: 0;
    }

    .discovery-section {
        width: 64%;
    }


    .dis-img2 {
        left: 500px;
    }

    .paint-section {
        width: 30%;
    }



}

@media (max-width: 1275px) {

    .dis-img2,
    .dis-img1 {
        display: none;
    }

}

@media (max-width: 999px) {
    .market {
        flex-direction: column;
    }


    .discovery-section {
        width: 100%;
        text-align: center;
    }

    .border-dis {
        width: 90%;
        height: auto;
    }

    .paint-section {
        display: none;
    }

}