.mobile-bar {
    display: none;
}

aside {
    color: #fff;
    width: 220px;
    padding-left: 10px;
    height: 98vh;
    background: linear-gradient(30deg, #0C155B, #0C155B);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    margin-left: 10px;
}

aside a {
    font-size: 14px;
    color: #FFFFFF;
    height: 21.75px;
    font-weight: 400;
    display: block;
    padding: 10px;
    padding-left: 30px;
    margin-top: 15px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

aside a:hover,
a:active {
    color: #FFFFFF;
    background: linear-gradient(266.19deg, #2A3266 15.97%, #452A75 39.43%, #622285 65.05%);
    outline: none;
    position: relative;
    height: 35px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.router-link-active {
    color: #FFFFFF;
    background: linear-gradient(266.19deg, #2A3266 15.97%, #452A75 39.43%, #622285 65.05%);
    outline: none;
    position: relative;
    height: 35px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside a img {
    margin-right: 10px;
}

aside a:hover::after,
.router-link-active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 15px 0 0 #452A75;
}

aside a:hover::before,
.router-link-active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 35px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -15px 0 0 #452A75;
}

aside p {
    margin: 0;
    margin-left: 10px;
    padding: 40px 0;
}

aside span {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F61872;
    margin-left: 25px;

}

.first-link {
    margin-top: 25px;
    margin-bottom: 25px;
}

.bottom-form {
    margin-top: 150px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    background: #A717B4;
    border: #A717B4;
    border-width: 20%;
    height: 19%;
    margin-right: 10px;
    border-bottom-right-radius: 50px;
}

.bottom-form input {
    width: 95%;
    background: #333333;
    border: #333333;
    border-radius: 2px;
    margin-top: 20px;
    font-size: 13px;
    padding: 10px;

}

body {
    font-family: 'Poppins';
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #2A3266;
}

@media (max-width: 1507px) {

    .whole {
        --mobile-bar-height: 50px;

        margin: var(--mobile-bar-height) 0 0 0;
    }

    .mobile-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--mobile-bar-height);
        background: linear-gradient(30deg, #0C155B, #0C155B);
        display: flex;
    }

    .mobile-btn {
        width: var(--mobile-bar-height);
        flex-shrink: 0;
        background: none;
        outline: none;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
    }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        height: 98vh;
        width: 220px;
        margin-left: 0;
        transform: translateX(-220px);
    }



    .mobile-open aside {
        transform: translateX(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .mobile_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 98vh;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
        visibility: hidden;
        opacity: 0;
        z-index: 2;
    }

    .mobile-open .mobile_overlay {
        visibility: visible;
        opacity: 1;
    }


}